[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
django = "==3.0.7"
django-extensions = "*"
requests = "*"
werkzeug = "*"
django-widget-tweaks = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
django-select2 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.7.6"
