[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
django = "==3.0.1"
django-extensions = "*"
requests = "*"
werkzeug = "*"
django-widget-tweaks = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
