{% extends "bot/base_generic.html" %}
{% load static %}

{% block content %}
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>Quadro do Trello</h3>
                <p>Vendas</p>
              </div>
              <div class="icon">
                <i class="fab fa-trello"></i>
              </div>
              <a href="{{ sales_board_url }}" class="small-box-footer" target="_blank" rel="noopener noreferrer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ counters.total_closed }}</h3>

                <p>Empresas Fechadas</p>
              </div>
              <div class="icon">
                <i class="fas fa-table"></i>
              </div>
              <a href="/closed_companies/" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ counters.total_contact }}</h3>

                <p>Empresas em contato</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-line"></i>
              </div>
              <a href="#" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Manual de<br>Captação</h3>
              </div>
              <div class="icon">
                <i class="far fa-copy"></i>
              </div>
              <a href="{{ manual_url }}" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>Quadro do Trello</h3>
                <p>Controle de Contratos</p>
              </div>
              <div class="icon">
                <i class="fab fa-trello"></i>
              </div>
              <a href="{{ contracts_board_url }}" class="small-box-footer" target="_blank" rel="noopener noreferrer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          <!-- ./col -->
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-purple">
              <div class="inner">
                <h3>Planilha de<br>Contatos</h3>
              </div>
              <div class="icon">
                <i class="fas fa-table"></i>
              </div>
              <a href="{{ contacts_table_url }}" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-teal">
              <div class="inner">
                <h3>Carta Proposta</h3>

                <p><br></p>
              </div>
              <div class="icon">
                <i class="fas fa-money-check-alt"></i>
              </div>
              <a href="{{ proposal_url }}" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
              <div class="inner">
                <h3>Mídia Kit</h3>

                <p><br></p>
              </div>
              <div class="icon">
                <i class="fas fa-poll"></i>
              </div>
              <a href="{{ media_kit_url }}" class="small-box-footer">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <div class="col-md-6 col-sm-6 col-12">
            <a href="/bot/new_hunter/">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-user-plus"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number"><h2><b>Adicionar Captador</b></h2></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </a>
          </div>
          <!-- /.col -->                    
          <div class="col-md-6 col-sm-6 col-12">
            <a href="/bot/select_hunter/">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-user-edit"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number"><h2><b>Editar Captadores</b></h2></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </a>
          </div>
          <!-- /.col -->                    
          <div class="col-md-4 col-sm-6 col-12">
            <a href="/bot/new_company/">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-comments"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number"><h2><b>Adicionar Empresa</b></h2></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </a>
          </div>
          <!-- /.col -->                    
          <div class="col-md-4 col-sm-6 col-12">
            <a href="/bot/close_company/">
              <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fas fa-handshake"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number"><h2><b>Fechar Empresa</b></h2></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </a>
          </div>
          <!-- /.col -->                    
          <div class="col-md-4 col-sm-6 col-12">
            <a href="/bot/select_company/">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-edit"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number"><h2><b>Editar Empresas</b></h2></span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </a>
          </div>
          <!-- /.col -->                    
        </div>
        <!-- /.row (main row) -->
        <div class="row">
          <div class="col-md-12">
            <div class="card card-purple card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  Divisão Por Cotas
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <div class="alert alert-info alert-dismissible">
                      <h5><i class="icon fas fa-gem"></i>
                        Diamante
                        <span class="badge bg-light float-right">{{ fee.diamond }}</span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="alert alert-warning alert-dismissible">
                      <h5><i class="icon fas fa-coins"></i>
                        Ouro
                        <span class="badge bg-light float-right">{{ fee.gold }}</span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="alert alert-secondary alert-dismissible">
                      <h5><i class="icon fas fa-sun"></i>
                        Prata
                        <span class="badge bg-light float-right">{{ fee.silver }}</span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="alert alert-orange alert-dismissible bg-orange">
                      <h5><i class="icon far fa-sun"></i>
                        Bronze
                        <span class="badge bg-light float-right">{{ fee.bronze }}</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <!-- BAR CHART -->
            <div class="card card-purple card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Empresas Fechadas Por Mês</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-5">
            <!-- DONUT CHART -->
              <div class="card card-purple card-outline">
                <div class="card-header">
                  <h3 class="card-title">Categorias das Empresas Fechadas</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

{% endblock %}

{% block scripts %}
<!-- ChartJS -->
<script src="{% static 'bot/plugins/chart.js/Chart.min.js' %}"></script>

<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: {{ categories.labels|safe }},
      datasets: [
        {
          data: {{ categories.data|safe }},
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc',
                             '#33ffce', '#dc96da', '#3a3a3a', '#ff1212'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions      
    })

    //-------------
    //- BAR CHART -
    //-------------

    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var ChartData = {
      labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label               : 'Startup',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220, 220, 220, 1)',
          data                : {{ closed_months.startups|safe }},
        },
        {
          label               : 'Regular',
          backgroundColor     : 'rgba(209, 129, 129, 0.9)',
          borderColor         : 'rgba(209, 129, 129, 0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(209, 129, 129, 1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(209, 129, 129, 1)',
          data                : {{ closed_months.regulars|safe }}
        },
      ],
    }
    var barChartData = jQuery.extend(true, {}, ChartData)
    var temp0 = ChartData.datasets[0]
    var temp1 = ChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    var barChart = new Chart(barChartCanvas, {
      type: 'bar', 
      data: barChartData,
      options: barChartOptions
    })
  })
</script>
{% endblock %}