{% extends "bot/base_generic.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
        <!-- Main row -->
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Formulário</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/bot/new_company/" method="post">
                <div class="card-body">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="form-group">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Nome</label>
                    {% render_field form.name class="form-control" placeholder="Nome da Empresa" %}
                  </div>
                  <div class="form-group">
                    {{ form.category.errors }}
                    <label for="{{ form.category.id_for_label }}">Categoria</label>
                    {% render_field form.category class="form-control" %}
                  </div>
                  <div class="form-group">
                    {{ form.main_contact.errors }}
                    <label for="{{ form.main_contact.id_for_label }}">Contato Principal</label>
                    {% render_field form.main_contact class="form-control" placeholder="E-mail" %}
                    </div>
                  <div class="form-group">
                    {{ form.seller.errors }}
                    <label for="{{ form.seller.id_for_label }}">Captador</label>
                    {% render_field form.seller class="form-control" %}
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /.card -->               
          
        <!-- /.row (main row) -->
 {% endblock %}