{% extends "bot/base_generic.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
        <!-- Main row -->
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Selecione a Empresa</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th>Categoria</th>
                      <th>Estágio</th>
                      <th>Tempo Inativo</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i, c in companies.items %}
                    <tr>
                      <td>{{ i }}.</td>
                      <td>{{ c.name }}</td>
                      <td>{{ c.category }}</td>
                      <td>{{ c.seller_stage }}</td>
                      <td>{{ c.inactive_time }} Dia(s)</td>
                      <td>
                        <a href="/bot/edit_company/{{ c.slug }}">
                          <button class="btn btn-danger">Editar</button></td>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
                  <label><p></p></label>
            </div>
          </div>
          <!-- /.card -->               
          
        <!-- /.row (main row) -->
 {% endblock %}